@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");

@import "tailwindcss";

@theme {
  --color-yellow: #e7d393;
  --color-white-100: #efefef;
  --font-sans: "Mona Sans", sans-serif;
  --font-modern-negra: "Modern Negra", sans-serif;
  --font-serif: "DM Serif Text", serif;
}
html,
body {
    width: 100%;
    background-color: black;
    color: white;
    scroll-behavior: smooth;
    overflow-x: hidden;
}


@utility flex-center{
  @apply flex justify-center items-center;
}
/*md:flex-row flex-col md:justify-between items-center gap-5 py-5 lg:px-0 px-5 container mx-auto*/

@layer components{
    main{
        @apply w-full overflow-x-hidden;
    }
    nav{
        @apply fixed z-50 w-full;
        div {
          @apply flex flex-col items-center gap-5 px-5  py-2 container mx-auto md:flex-row md:justify-between;
        }
        p {
          @apply font-modern-negra text-3xl -mb-2;
        }

        a {
          @apply cursor-pointer text-nowrap  text-sm md:text-base;
        }

        ul {
          @apply flex-center gap-7 lg:gap-12;
        }
    }
    #hero{
      @apply relative z-10 w-full min-h-dvh;

      h1{
        @apply  mt-40 md:mt-12  text-[5vw] font-modern-negra text-center;
      }
    }
}
